//@theme "/home/iuno/.config/rofi/themes/sidebar-v2.rasi"

//@theme "/home/iuno/.config/rofi/themes/quickapps.rasi"

//@theme "/home/iuno/.config/rofi/themes/rounded-nord-dark.rasi"

//@theme "/home/iuno/.config/rofi/themes/clipboard.rasi"

//@theme "/home/iuno/.config/rofi/themes/selector.rasi"

//@theme "/home/iuno/.config/rofi/themes/spotlight.rasi"

@theme "/home/iuno/.config/rofi/themes/launchpad.rasi"
