
//@theme "/home/iuno/.config/rofi/themes/wall.rasi"

//@theme "/home/iuno/.config/rofi/themes/windows11-grid-light.rasi"

//@theme "/home/iuno/.config/rofi/themes/launchpad.rasi"

@theme "/home/iuno/.config/rofi/themes/windows11-list-light.rasi"
